@model IEnumerable<KFM.Common.SaltRequirementDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form method="get">
    <input type="number" name="searchTerm"/>
    <input type="submit" value="Search"/>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RequiredSaltAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pond)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequiredSaltAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pond.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SaltId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SaltId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SaltId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    @if (ViewBag.CurrentPage > 1)
    {
        <a href="@Url.Action("Index", new { pageNumber = ViewBag.CurrentPage - 1, pageSize = 10, searchTerm = Context.Request.Query["searchTerm"]  })">Previous</a>
    }

    @for (int i = 1; i <= ViewBag.TotalPages; i++)
    {
        <a href="@Url.Action("Index", new { pageNumber = i, pageSize = 10, searchTerm = Context.Request.Query["searchTerm"] })">@i</a>
    }

    @if (ViewBag.CurrentPage < ViewBag.TotalPages)
    {
        <a href="@Url.Action("Index", new { pageNumber = ViewBag.CurrentPage + 1, pageSize = 10, searchTerm = Context.Request.Query["searchTerm"] })">Next</a>
    }
</div>
