@model KFM.Common.Food.FoodRequirementsDto
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Food Requirement</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FoodId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FoodId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KoiFish)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KoiFish.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DevelopmentStage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DevelopmentStage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RequiredAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RequiredAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
      
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FoodId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
